---
import websiteConfig from '../../website.config.mjs';
import '../styles/global.css';

import type { DocumentContext, PageContext } from '../types';

import Footer from './Footer.astro';
import SEO from './SEO.astro';

export type Props = {
  page: PageContext
  document?: DocumentContext;
}

const { document, page } = Astro.props;

const { language } = page;
---
<!doctype html>
<html class="scroll-smooth" lang={language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/svg+xml" href={`/${websiteConfig.base}/favicon.svg`} />
    <SEO page={page} />
  </head>
  <body class="w-full h-full bg-background dark:bg-background-dark overflow-x-hidden">
    <div class="bg-texture bg-texture-light dark:bg-texture-dark" />
    <main class="flex p-3 lg:p-6 lg:gap-6 items-start overflow-clip">
      <slot />
    </main>
    <Footer document={document}  />
  </body>
</html>